
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;
}




/*MAIN*/

main{
    display: flex;
    flex-direction: column;
    font-family: 'Goldman', cursive;}
main h1, h2, h3{
    text-align: center;
    margin: 0;
    padding: 2%;
}
.first-section img{
    height: 20%;
    width:  100%;
    padding: 2%;
}
.big-container{
    display: flex;
    flex-direction: column;
    
    
}
.top5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:0 5%;
    padding: 2%;
    font-size: 16px;
    line-height: 26px;
    
}
.picture{
    width: 45%;
}
.description{
    width: 45%;
}

/*CARD*/

.culinary{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1em;
    height: 60vh;
    width: 100%;
    
}
.card{
    width: 30vw;
    height:50vh;
    box-shadow: 7px 0px 17px 5px rgba(0,0,0,0.51);
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    
}
.card h3, h4, p{
    margin: 0;
}
.card:hover .inside, .card.hover .inside{
    transform: rotateY(180deg);
}

.card-front{
    z-index: 2;
    transform: rotateY(0deg);
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
   
}
.card-back{
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    
    
}

   
.inside{
    transition: 1s;
    transform-style: preserve-3d;
    
    
}
.card img{
    width: 100%;
    height: 40vh;
    
}
.paragraph{
    height: 50vh;
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.paragraph p{
    width: 80%;
    text-align: center;
}
.titles h3{
    padding: 0;
}
.card-sub{
    margin: 0;
    padding:0 3%;
    text-align: center;
    font-style: italic;
    color: blue;
}

/*GALLERY*/

.gallery{
    display: grid;
    grid-template-columns: repeat(8, 
   1fr);
    grid-template-rows: repeat(8, 5vw
    );
    grid-gap: 2px;
    margin: 2%;
    
    
}
.gallery figure{
    margin:0;
    padding: 0;
}
.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
       
}
.gallery img:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.first-picture{
    grid-row-start: 1 ;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;

}
#img-1{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start:3 ;
    grid-column-end: 5;
}
#img-2{
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 5;
}
#img-3{
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start:3 ;
    grid-column-end: 5;
}
#img-4{
    grid-row-start: 1;
    grid-row-end: 9;
    grid-column-start:7;
    grid-column-end:9;
}
 
#img-5{
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start:5 ;
    grid-column-end: 7;

}    
.follow{
    background: black;
    color: white;
    grid-row-start: 6;
    grid-row-end: 9;
    grid-column-start:5 ;
    grid-column-end: 7;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}
.follow:hover{
    transform: scale(1.2);
    transition: 0.5s;

        
}

/*media queries*/

@media screen and (max-width:650px){
    .top5{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .culinary{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .card{
        width: 50%;
        margin: 3%;
    }
    .follow span{
        display: none;
    }
    #insta-icon{
        padding: 0;
    }
}


